.contentMiddle {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: #e9ecef;
}

.contentLeft {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;

}

.contentRight {

    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
}

.contentLeftMiddle {
    margin-left: 5%;
    position: absolute;
    background-color: white;
    border-radius: 1%;
    left: 0;
    top: 0;
    width: 90%;
    height: 75%;
    margin-top: 10%;
    padding: 0.5rem!important;
}

.contentRightMiddle {
    margin-right: 5%;
    border-radius: 1%;
    position: absolute;
    padding: 0.5rem!important;
    right: 0;
    top: 0;
    width: 90%;
    height: 75%;
    margin-top: 10%;

}

.contentHeader {

    width: 90%;
    height: auto;
    margin-top: 2%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    top: 0;
    left: 0;
    position: absolute;
}

.contentHeader .text {
    text-align: center;
    color: #454775;
    font-weight: bold;
}

.contentHeader .text1 {
    text-align: center;
    color: black;
    font-weight: normal;
    padding-left: 2%;
    padding-right: 2%;
}

.contentMiddleMiddle {

    width: 90%;
    height: 70%;
    position: absolute;
    margin-left: 4.5%;
    margin-top: 150px;
    margin-right: 4.5%;
}

.desplegable {
    position: relative;
    width: 100%;
    height: 10%;
    vertical-align: top;
    margin-top: 0%;
}

.button {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    text-align: left;
    vertical-align: top;
    background-color: white;
    margin-right: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}



.contentHeader .icono {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.contentRightMiddle .text {
    text-align: center;
    color: #454775;
    vertical-align: top;
    font-weight: bold;
    top: 0;
    left: 0;
    margin-top: 120px;
    font-size: 2rem;

}

.contentRightMiddle .text1 {
    font-size: larger;
    text-align: center;
    vertical-align: top;
    top: 0;
    left: 0;
    font-weight: normal;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contentRightMiddle .contentHeader {
    margin-top: 0%;
}

.contentMiddleText {
    width: fit-content;
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    font-weight: bolder; 
}

.textFinal{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
    font-weight: lighter;
}